$ff-main: "RobotoCondensed", sans-serif;
$fs-main: 14px;
$fw-main: 400;
$lh-main: 1;
$col-bg: #ffffff;
$col-text: #040404;

$col-black: #040404;
$col-white: #ffffff;
$col-gold: #9f6b08;
$col-dark-grey: #363636;
$col-light-gold: #f9ce5c;
$col-gradient-light: linear-gradient(180deg, #d8d4ca 0%, rgba(217, 217, 217, 0) 100%);

$ff-Impact: "Impact", sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

// nav
$fs-nav-15: 15.5307px;

// promo
$fs-promo-76: 76px;
$fs-promo-48: 48px;
$fs-promo-34: 34px;
$fs-promo-15: 15.5307px;
