.promo {
  min-height: 100vh;
  background: url("@img/promo__bg.jpg") no-repeat 50% / cover;
  &__container {
    @extend %container;
  }

  &__title {
    font-family: $ff-Impact;
    font-size: $fs-promo-76;
    line-height: 93px;
    letter-spacing: 0.02em;
    text-align: center;
  }

  &__subtitle {
    font-family: $ff-Impact;
    font-size: $fs-promo-48;
    line-height: 59px;
    text-align: center;
  }

  &__date {
    font-family: $ff-Impact;
    font-size: $fs-promo-34;
    text-align: center;
    color: $col-gold;
  }

  &__text {
    font-size: $fs-promo-15;
    line-height: 18px;
    text-align: center;
    color: $col-dark-grey;
  }
}
